{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Order</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Orderid</th>
                <td>{{ entity.orderId }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Discipline</th>
                <td>{{ entity.discipline }}</td>
            </tr>
            <tr>
                <th>Pages</th>
                <td>{{ entity.pages }}</td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td>{{ entity.deadline|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Instructions</th>
                <td>{{ entity.instructions }}</td>
            </tr>
            <tr>
                <th>Citation</th>
                <td>{{ entity.citation }}</td>
            </tr>
            {% if entity.attachmentName %}
                <tr>
                    <th>Attachmentname</th>
                    <td><img src="{{ vich_uploader_asset(entity, 'attachment') }}" alt="{{ entity.attachmentName }}" /></td>
                </tr>
            {% else %}
                <tr>
                    <td>No Attachments To this order</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <form>
        <label for="textarea"></label>
        <textarea class="tinymce"></textarea>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('u_') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('u__edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
            {% if entity.paid %}
                <li>Paid!</li>
            {% else %}
                <li>{{ form(pay_form) }}</li>
            {% endif %}
    <li>{{ form(delete_form) }}</li>
</ul>


    {{ tinymce_init() }}

{% endblock %}
